### Sub_hot_1 Sub_hot_4 Sub_xgb_1 gbm_2 gbm_3

In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
train_data = pd.read_json('train_data.json',orient="index")
test_data = pd.read_json('test_data.json',orient='index')

In [3]:
#set index
train_data.reset_index(inplace = True)
train_data.rename(columns={'index':'ID'}, inplace=True)

In [4]:
test_data.reset_index(inplace = True)
test_data.rename(columns={'index':'ID'}, inplace=True)

In [1]:
train_data.head(2)

NameError: name 'train_data' is not defined

In [6]:
train_data.titles[5]

u'India vs Australia 2nd Test English:2836,SRH vs RCB:406,KKR vs KXIP:177,MI vs SRH:502,Dominant India Win Series in Style:427,Lyon Pulls Oz Back on Day 2:29,Kohli Leads the Way with 122:82,1st ODI: India Begin Kohli Era with Win:512,All You Need to Know About One-off Test:40,India vs Australia 3rd Test English:459,India vs England | 2nd ODI | English:1198,India vs Bangladesh Day 3 English:374,Ruthless India Stay Perfect at Home:700,India Begin Kohli Era with Win:1022,RCB vs DD:1768,India 1st Innings: Fall of Wickets:420,Day 3: India Finally Break Oz Spirit:317,Aus Turn the Tide to Humble India:14,Bodyguard:998,RPS vs DD:244,MS Dhoni: The Untold Story:8786,Kaabil:9,KXIP vs RPS:3370,Lyon Rips Out India with 5-for:16,India vs Bangladesh Day 1 English:2535,India vs Australia 1st Test English:1453,RCB vs MI:4432,India vs England 2nd T20I English:7720,Ind Win Thriller Keep Series Alive:947,India vs Australia 4th Test English:2244,India Win Kohli Creates History:147,Resilient India on Top after Day 1:2,Oz 2nd Innings: Fall of Wickets:506,GL vs RPS:3304,SRH Begin Title Defense with Win:1052,Great to See Spinners Do Well: Kumble:185,RPS vs MI:3840,India Level Series with Big Win:1462,GL vs KKR:789'

In [7]:
test_data.head(2)

,ID,cities,dow,genres,titles,tod
0,test-1,"delhi:182,mumbai:702","2:182,4:701","Romance:182,Cricket:702","Axar's 21-ball 40 amidst KXIP ruins:72,Virat K...","13:182,15:701"
1,test-10,"pune:16,delhi:1100,navi mumbai:22736","1:4830,3:3078,2:8359,5:2946,4:4185,7:451","Romance:50,Action:3501,Mythology:20300","Besh Korechi Prem Korechi:0,Power:122,Siya Ke ...","20:6909,21:1520,22:662,23:3160,19:5711,1:121,0..."

In [8]:
#check data
print ('Train data has {} rows and {} columns'.format(train_data.shape[0],train_data.shape[1]))
print ('test_data data has {} rows and {} columns'.format(test_data.shape[0],test_data.shape[1]))

Train data has 200000 rows and 7 columns
test_data data has 100000 rows and 6 columns

In [9]:
#Encode Target Variable
train_data = train_data.replace({'segment':{'pos':1,'neg':0}})

In [10]:
#check target variable count
train_data['segment'].value_counts()/train_data.shape[0]

0    0.923725
1    0.076275
Name: segment, dtype: float64

In [11]:
train_data['g1'] = [re.sub(pattern='\:\d+',repl='',string=x) for x in train_data['genres']]

In [12]:
train_data.g1[0:5]

0    Cricket,Kabaddi,Reality
1           Cricket,Wildlife
2            LiveTV,Football
3           TalkShow,Cricket
4      Drama,Cricket,Reality
Name: g1, dtype: object

In [13]:
train_data['g1'] = train_data['g1'].apply(lambda x: x.split(','))

In [14]:
train_data['g2'] = [re.sub(pattern='\:\d+', repl='', string = x) for x in train_data['dow']]
train_data['g2'] = train_data['g2'].apply(lambda x: x.split(','))

In [15]:
train_data.g2[0:5]

0    [1, 3, 2, 5, 4, 7, 6]
1    [1, 3, 2, 5, 4, 7, 6]
2                      [3]
3          [1, 3, 5, 4, 7]
4          [1, 2, 4, 7, 6]
Name: g2, dtype: object

In [16]:
t1 = pd.Series(train_data['g1']).apply(frozenset).to_frame(name='t_genre')

In [17]:
t1[0:5]

                       t_genre
0  (Cricket, Kabaddi, Reality)
1          (Cricket, Wildlife)
2           (LiveTV, Football)
3          (TalkShow, Cricket)
4    (Drama, Cricket, Reality)

In [18]:
t2 = pd.Series(train_data['g2']).apply(frozenset).to_frame(name='t_dow')

In [19]:
# using frozenset trick - might take few minutes to process
for t_genre in frozenset.union(*t1.t_genre):
    t1[t_genre] = t1.apply(lambda _: int(t_genre in _.t_genre), axis=1)

In [20]:
t1[0:3]

,t_genre,Travel,Boxing,Crime,Romance,LiveTV,Hockey,FormulaE,Comedy,Teen,...,Drama,Action,Athletics,Reality,Documentary,Swimming,Formula1,Family,Badminton,Sport
0,"(Cricket, Kabaddi, Reality)",0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,"(Cricket, Wildlife)",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"(LiveTV, Football)",0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
for t_dow in frozenset.union(*t2.t_dow):
    t2[t_dow] = t2.apply(lambda _: int(t_dow in _.t_dow), axis = 1)

In [22]:
train_data = pd.concat([train_data.reset_index(drop=True), t1], axis=1)
train_data = pd.concat([train_data.reset_index(drop=True), t2], axis=1)

In [23]:
test_data['g1'] = [re.sub(pattern='\:\d+',repl='',string=x) for x in test_data['genres']]
test_data['g1'] = test_data['g1'].apply(lambda x: x.split(','))

test_data['g2'] = [re.sub(pattern='\:\d+', repl='', string = x) for x in test_data['dow']]
test_data['g2'] = test_data['g2'].apply(lambda x: x.split(','))

t1_te = pd.Series(test_data['g1']).apply(frozenset).to_frame(name='t_genre')
t2_te = pd.Series(test_data['g2']).apply(frozenset).to_frame(name='t_dow')

In [24]:
for t_genre in frozenset.union(*t1_te.t_genre):
    t1_te[t_genre] = t1_te.apply(lambda _: int(t_genre in _.t_genre), axis=1)

In [25]:
for t_dow in frozenset.union(*t2_te.t_dow):
    t2_te[t_dow] = t2_te.apply(lambda _: int(t_dow in _.t_dow), axis = 1)

In [26]:
test_data = pd.concat([test_data.reset_index(drop=True), t1_te], axis=1)
test_data = pd.concat([test_data.reset_index(drop=True), t2_te], axis=1)

In [27]:
#the rows aren't list exactly. They are object, so we convert them to list and extract the watch time
w1 = train_data['titles']
w1 = w1.str.split(',')

#create a nested list of numbers
main = []
for i in np.arange(train_data.shape[0]):
    d1 = w1[i]
    nest = []
    nest = [re.sub(pattern = '.*\:', repl=' ', string= d1[k]) for k in list(np.arange(len(d1)))]
    main.append(nest)

In [28]:
main[2]

[u' 13', u' 4129']

In [29]:
blanks = []
for i in np.arange(len(main)):
    if '' in main[i]:
        print "{} blanks found".format(len(blanks))
        blanks.append(i)
        
#replacing blanks with 0
for i in blanks:
    main[i] = [x.replace('','0') for x in main[i]]
    
#converting string to integers
main = [[int(y) for y in x] for x in main]

#adding the watch time
tosum = []
for i in np.arange(len(main)):
    s = sum(main[i])
    tosum.append(s)

0 blanks found
1 blanks found
2 blanks found
3 blanks found
4 blanks found
5 blanks found
6 blanks found
7 blanks found
8 blanks found
9 blanks found
10 blanks found
11 blanks found
12 blanks found
13 blanks found
14 blanks found
15 blanks found
16 blanks found
17 blanks found
18 blanks found
19 blanks found
20 blanks found
21 blanks found
22 blanks found
23 blanks found
24 blanks found
25 blanks found
26 blanks found
27 blanks found
28 blanks found
29 blanks found
30 blanks found
31 blanks found
32 blanks found
33 blanks found
34 blanks found
35 blanks found
36 blanks found
37 blanks found
38 blanks found
39 blanks found
40 blanks found
41 blanks found
42 blanks found
43 blanks found
44 blanks found
45 blanks found

In [30]:
tosum[0]

87363

In [31]:
train_data['title_sum'] = tosum

In [32]:
#making changes in test data
w1_te = test_data['titles']
w1_te = w1_te.str.split(',')

In [33]:
main_te = []
for i in np.arange(test_data.shape[0]):
    d1 = w1_te[i]
    nest = []
    nest = [re.sub(pattern = '.*\:', repl=' ', string= d1[k]) for k in list(np.arange(len(d1)))]
    main_te.append(nest)

In [34]:
blanks_te = []
for i in np.arange(len(main_te)):
    if '' in main_te[i]:
        print "{} blanks found".format(len(blanks_te))
        blanks_te.append(i)
        
#replacing blanks with 0
for i in blanks_te:
    main_te[i] = [x.replace('','0') for x in main_te[i]]
    
#converting string to integers
main_te = [[int(y) for y in x] for x in main_te]

#adding the watch time
tosum_te = []
for i in np.arange(len(main_te)):
    s = sum(main_te[i])
    tosum_te.append(s)

0 blanks found
1 blanks found
2 blanks found
3 blanks found
4 blanks found
5 blanks found
6 blanks found
7 blanks found
8 blanks found
9 blanks found
10 blanks found
11 blanks found

In [35]:
test_data['title_sum'] = tosum_te

In [36]:
#count variables
def wcount(p):
    return p.count(',')+1

In [37]:
train_data['title_count'] = train_data['titles'].map(wcount)
train_data['genres_count'] = train_data['genres'].map(wcount)
train_data['cities_count'] = train_data['cities'].map(wcount)
train_data['tod_count'] = train_data['tod'].map(wcount)
train_data['dow_count'] = train_data['dow'].map(wcount)


test_data['title_count'] = test_data['titles'].map(wcount)
test_data['genres_count'] = test_data['genres'].map(wcount)
test_data['cities_count'] = test_data['cities'].map(wcount)
test_data['tod_count'] = test_data['tod'].map(wcount)
test_data['dow_count'] = test_data['dow'].map(wcount)

In [38]:
train_data.tod[0]

u'10:26,13:331,12:323,20:21864,21:16233,17:7953,16:1725,19:11505,18:6017,22:8894,2:2363,14:2196,15:2901,23:5046'

In [39]:
test_id = test_data['ID']
train_data.drop(['ID','cities','dow','genres','titles','tod','g1','g2','t_genre','t_dow'], inplace=True, axis=1)
test_data.drop(['ID','cities','dow','genres','titles','tod','g1','g2','t_genre','t_dow'], inplace=True, axis=1)

In [40]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import roc_auc_score, make_scorer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize

/usr/local/lib/python2.7/dist-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/usr/local/lib/python2.7/dist-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [41]:
target = train_data['segment']
train_data.drop('segment',axis=1, inplace=True)

In [46]:
#train final model
rf_model = RandomForestClassifier(n_estimators=500,max_depth=12, max_features=10)
rf_model.fit(train_data, target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=12, max_features=10, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=500, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [47]:
#make prediction
rf_pred = rf_model.predict_proba(test_data)

In [48]:
#make submission file and submit
columns = ['segment']
sub = pd.DataFrame(data=rf_pred[:,1], columns=columns)
sub['ID'] = test_id
sub = sub[['ID','segment']]
sub.to_csv("sub_hot.csv", index=False)

In [49]:
train_data.head(2)

,Travel,Boxing,Crime,Romance,LiveTV,Hockey,FormulaE,Comedy,Teen,Cricket,...,5,4,7,6,title_sum,title_count,genres_count,cities_count,tod_count,dow_count
0,0,0,0,0,0,0,0,0,0,1,...,1,1,1,1,87363,60,3,2,14,7
1,0,0,0,0,0,0,0,0,0,1,...,1,1,1,1,16356,70,2,3,16,7

In [50]:
train_data.columns

Index([      u'Travel',       u'Boxing',        u'Crime',      u'Romance',
             u'LiveTV',       u'Hockey',     u'FormulaE',       u'Comedy',
               u'Teen',      u'Cricket',    u'Mythology',           u'NA',
             u'Horror',     u'Football',       u'Awards',      u'Science',
             u'Tennis',     u'Thriller',      u'Kabaddi',     u'Wildlife',
               u'Kids',    u'IndiaVsSa',     u'TalkShow', u'Table Tennis',
         u'Volleyball',        u'Drama',       u'Action',    u'Athletics',
            u'Reality',  u'Documentary',     u'Swimming',     u'Formula1',
             u'Family',    u'Badminton',        u'Sport',            u'1',
                  u'3',            u'2',            u'5',            u'4',
                  u'7',            u'6',    u'title_sum',  u'title_count',
       u'genres_count', u'cities_count',    u'tod_count',    u'dow_count'],
      dtype='object')

In [51]:
test_data.columns

Index([      u'Travel',      u'Kabaddi',      u'Reality',      u'Romance',
             u'LiveTV',       u'Hockey',     u'FormulaE',       u'Comedy',
               u'Teen',      u'Cricket',           u'NA',       u'Horror',
           u'Football',       u'Awards',      u'Science',       u'Tennis',
           u'Thriller',       u'Boxing',     u'Wildlife',         u'Kids',
          u'IndiaVsSa',     u'TalkShow', u'Table Tennis',   u'Volleyball',
              u'Drama',       u'Action',    u'Athletics',    u'Mythology',
        u'Documentary',     u'Swimming',     u'Formula1',       u'Family',
          u'Badminton',        u'Crime',        u'Sport',            u'1',
                  u'3',            u'2',            u'5',            u'4',
                  u'7',            u'6',    u'title_sum',  u'title_count',
       u'genres_count', u'cities_count',    u'tod_count',    u'dow_count'],
      dtype='object')

In [71]:
import seaborn as sns

corr = train_data.corr()

# plot the heatmap
sns.heatmap(corr, 
        xticklabels=train_data.columns,
        yticklabels=train_data.columns)

ValueError: Arrays were different lengths: 49 vs 0

In [72]:
corr

,Travel,Boxing,Crime,Romance,LiveTV,Hockey,FormulaE,Comedy,Teen,Cricket,...,4,7,6,title_sum,title_count,genres_count,cities_count,tod_count,dow_count,Sports
Travel,1.000000,0.007573,0.054673,0.025045,0.021923,0.023399,0.009057,0.062497,0.025410,0.044333,...,0.039497,0.047539,0.033710,0.034997,0.112009,0.208804,0.039566,0.068528,0.062677,0.064003
Boxing,0.007573,1.000000,0.002803,0.000656,-0.000862,0.009051,-0.000146,0.007163,-0.001164,0.006339,...,0.004957,0.004540,0.003534,0.000667,0.009830,0.017302,0.005447,0.005619,0.006576,0.032543
Crime,0.054673,0.002803,1.000000,0.043393,0.026896,0.027738,-0.000939,0.070713,0.037093,0.060111,...,0.080793,0.085362,0.082031,0.110798,0.153056,0.288791,0.065593,0.144315,0.125688,0.067306
Romance,0.025045,0.000656,0.043393,1.000000,-0.014271,0.015228,0.001802,0.075592,0.074046,-0.107897,...,0.166997,0.161590,0.181664,0.260023,0.153745,0.407997,0.134972,0.305359,0.281851,-0.076503
LiveTV,0.021923,-0.000862,0.026896,-0.014271,1.000000,0.025226,0.008171,-0.001244,-0.001504,0.185237,...,0.115022,0.111266,0.111330,0.027082,0.180399,0.238509,-0.015676,0.140583,0.154411,0.172253
Hockey,0.023399,0.009051,0.027738,0.015228,0.025226,1.000000,0.007795,0.027476,0.004633,0.070411,...,0.048951,0.057249,0.044358,0.052779,0.182099,0.145005,0.053557,0.083772,0.074022,0.261669
FormulaE,0.009057,-0.000146,-0.000939,0.001802,0.008171,0.007795,1.000000,0.003932,-0.001312,0.007988,...,0.006457,0.005391,0.005276,0.009866,0.032267,0.025920,0.006928,0.010976,0.006278,0.044209
Comedy,0.062497,0.007163,0.070713,0.075592,-0.001244,0.027476,0.003932,1.000000,0.032361,0.035706,...,0.121930,0.127833,0.118561,0.172120,0.206029,0.411253,0.139881,0.235941,0.201953,0.074812
Teen,0.025410,-0.001164,0.037093,0.074046,-0.001504,0.004633,-0.001312,0.032361,1.000000,-0.017753,...,0.037250,0.038309,0.037283,0.122096,0.050393,0.132123,0.030598,0.088077,0.061481,-0.010986
Cricket,0.044333,0.006339,0.060111,-0.107897,0.185237,0.070411,0.007988,0.035706,-0.017753,1.000000,...,0.282839,0.248950,0.233317,0.041785,0.375934,0.348121,0.193332,0.275311,0.324484,0.857666
Mythology,0.023253,0.004298,0.030050,0.056097,0.010432,0.008528,0.004719,0.018905,0.015501,0.005646,...,0.050995,0.051115,0.054834,0.102506,0.068814,0.192082,0.037398,0.103262,0.083594,0.009874
NA,0.003402,-0.000088,0.001279,0.002311,0.000553,-0.000681,0.050158,0.004866,0.005596,0.002801,...,0.001819,0.000840,0.000765,-0.000316,0.008677,0.012372,0.002126,0.002191,0.002736,0.013099
Horror,0.055530,0.000354,0.056427,0.044618,0.012651,0.012684,0.006356,0.078811,0.016093,0.028466,...,0.044854,0.048788,0.047417,0.066628,0.102599,0.232140,0.036662,0.087580,0.071130,0.038029
Football,0.043521,0.013949,0.023208,-0.000640,0.053656,0.095455,0.022112,0.074421,0.002597,0.117813,...,0.077366,0.105147,0.091765,0.090649,0.269248,0.240271,0.104689,0.160850,0.131813,0.453098
Awards,0.046988,-0.000955,0.055249,0.063568,0.001898,0.028661,0.005134,0.109158,0.023733,0.026216,...,0.086917,0.098041,0.079299,0.150384,0.176299,0.299248,0.097673,0.173950,0.143251,0.066928
Science,0.091147,0.008256,0.027233,0.019231,0.013201,0.019119,-0.001218,0.047035,0.014546,0.027637,...,0.026933,0.035387,0.021380,0.027336,0.069701,0.144201,0.032147,0.049334,0.042258,0.048647
Tennis,0.005992,-0.000422,0.006684,0.000895,0.001223,0.019986,0.010049,0.018477,0.002906,0.024182,...,0.018958,0.021324,0.015440,0.025070,0.062635,0.060860,0.017584,0.033071,0.027768,0.115772
Thriller,0.065945,0.004008,0.091700,0.120620,0.028883,0.022184,0.004980,0.129337,0.041531,0.050488,...,0.098572,0.113591,0.112664,0.167181,0.198079,0.392755,0.084991,0.198889,0.166157,0.072811
Kabaddi,0.011097,0.005644,0.017316,0.010063,0.010776,0.056951,-0.000881,0.016427,0.005321,0.043891,...,0.029051,0.031362,0.030755,0.027306,0.110256,0.104715,0.025371,0.050517,0.045246,0.180935
Wildlife,0.142190,0.001579,0.050499,0.025248,0.016396,0.028389,0.006667,0.045587,0.014720,0.052717,...,0.037361,0.045022,0.033874,0.024318,0.100396,0.195172,0.042829,0.058310,0.058207,0.066681
Kids,0.038614,0.006697,0.053265,0.064723,0.011166,0.013846,0.005513,0.080526,0.020908,0.008004,...,0.045536,0.052872,0.051689,0.101308,0.100168,0.220590,0.039351,0.101112,0.077467,0.026942
IndiaVsSa,-0.000325,-0.000025,-0.000803,-0.001666,-0.000909,-0.000197,-0.000029,-0.001236,-0.000228,0.001938,...,0.001688,0.001773,0.001755,0.000164,0.012002,0.001788,0.000159,0.003296,0.002789,0.008116
TalkShow,0.054350,0.006519,0.007860,0.019175,-0.044818,0.030724,0.005999,0.142951,0.034333,0.018683,...,0.118004,0.141818,0.086256,0.164191,0.194335,0.315952,0.181173,0.251077,0.208890,0.072090
Table Tennis,0.017267,0.013340,0.014054,0.006134,0.014307,0.077781,0.011754,0.017353,-0.000179,0.026185,...,0.021901,0.021233,0.022895,0.030761,0.104616,0.070553,0.030867,0.040541,0.033180,0.117225
Volleyball,0.004349,-0.000132,0.001243,-0.002371,0.003914,0.003911,-0.000149,0.003741,-0.001187,0.007463,...,0.005190,0.000376,0.004692,0.000493,0.008804,0.015057,0.001876,0.004747,0.006028,0.029493
Drama,0.035264,0.002821,0.058228,0.203738,-0.013698,0.022900,0.002160,0.075028,0.047617,-0.022873,...,0.186045,0.161492,0.193700,0.219623,0.192091,0.419017,0.137079,0.298121,0.282649,0.007401
Action,0.060858,0.003790,0.055377,0.060370,0.029206,0.028776,0.008167,0.156738,0.009208,0.097591,...,0.088852,0.100354,0.096581,0.111007,0.211533,0.393160,0.082019,0.172356,0.143413,0.119344
Athletics,0.016020,-0.000399,0.008625,0.004151,0.011256,0.062601,0.010703,0.016203,0.000683,0.027109,...,0.023399,0.025660,0.021540,0.034911,0.112483,0.069759,0.027645,0.047159,0.035399,0.126846
Reality,0.050484,0.002320,0.037497,0.040305,0.031769,0.036664,0.007157,0.067934,0.032649,0.178765,...,0.148257,0.147471,0.153415,0.157449,0.261875,0.386435,0.131118,0.239258,0.233084,0.180546
Documentary,0.067050,-0.000755,0.018487,0.011668,0.000736,0.006360,0.005058,0.038700,0.011264,0.015650,...,0.021377,0.025050,0.017421,0.037763,0.054863,0.105533,0.027170,0.043880,0.033279,0.030822
Swimming,-0.000728,-0.000057,-0.001795,0.000448,-0.002032,0.011023,-0.000064,0.001960,-0.000511,0.004334,...,-0.000386,0.003966,0.001866,-0.000238,0.005847,0.007826,0.006861,0.003208,0.003107,0.019698
Formula1,0.008346,-0.000493,0.004163,-0.001251,0.011004,0.025423,0.062603,0.019352,0.000173,0.031144,...,0.014307,0.022858,0.024153,0.020147,0.073268,0.065119,0.027388,0.039286,0.029826,0.134779
Family,0.008664,-0.003890,0.029482,0.304065,-0.006560,0.007225,0.002656,0.023527,0.063494,-0.134052,...,0.139458,0.131653,0.149350,0.246094,0.096151,0.321648,0.101475,0.247853,0.229638,-0.110796
Badminton,0.035576,0.012661,0.024971,0.010379,0.026909,0.100193,0.017288,0.056803,0.001998,0.125562,...,0.083206,0.106471,0.091321,0.085429,0.271157,0.238181,0.116168,0.157492,0.138423,0.446867
Sport,0.052385,0.005672,0.050145,0.013515,0.104242,0.069841,0.004553,0.030848,0.010292,0.125636,...,0.064729,0.067555,0.054357,0.033048,0.203158,0.227789,0.046375,0.099352,0.091782,0.155486
1,0.045891,0.004391,0.082204,0.191214,0.084693,0.049176,0.003066,0.145220,0.042457,0.168009,...,0.300778,0.382909,0.303795,0.305439,0.361585,0.379127,0.325704,0.566169,0.663752,0.197256
3,0.037916,0.004215,0.078329,0.186931,0.100699,0.045767,0.002072,0.134367,0.042297,0.195893,...,0.386749,0.277893,0.293635,0.297643,0.350030,0.376779,0.297204,0.539893,0.655654,0.209417
2,0.046942,0.005625,0.082680,0.210822,0.080401,0.048685,0.002685,0.149513,0.043285,0.131878,...,0.326683,0.318836,0.298875,0.314797,0.356480,0.380230,0.322379,0.566567,0.672526,0.166133
5,0.035009,0.002801,0.083500,0.189089,0.103664,0.044400,0.003862,0.125601,0.040171,0.226491,...,0.393450,0.267567,0.403224,0.288221,0.358992,0.371063,0.292704,0.546372,0.651528,0.232361
4,0.039497,0.004957,0.080793,0.166997,0.115022,0.048951,0.006457,0.121930,0.037250,0.282839,...,1.000000,0.300112,0.321532,0.281270,0.357056,0.377413,0.313727,0.554980,0.659867,0.277219
7,0.047539,0.004540,0.085362,0.161590,0.111266,0.057249,0.005391,0.127833,0.038309,0.248950,...,0.300112,1.000000,0.324383,0.282119,0.353185,0.380315,0.324487,0.552391,0.627360,0.267891
6,0.033710,0.003534,0.082031,0.181664,0.111330,0.044358,0.005276,0.118561,0.037283,0.233317,...,0.321532,0.324383,1.000000,0.284539,0.357681,0.370233,0.293753,0.546109,0.642761,0.245613
title_sum,0.034997,0.000667,0.110798,0.260023,0.027082,0.052779,0.009866,0.172120,0.122096,0.041785,...,0.281270,0.282119,0.284539,1.000000,0.441583,0.418995,0.280206,0.601929,0.449244,0.098776
title_count,0.112009,0.009830,0.153056,0.153745,0.180399,0.182099,0.032267,0.206029,0.050393,0.375934,...,0.357056,0.353185,0.357681,0.441583,1.000000,0.598508,0.343645,0.623580,0.545485,0.499755
genres_count,0.208804,0.017302,0.288791,0.407997,0.238509,0.145005,0.025920,0.411253,0.132123,0.348121,...,0.377413,0.380315,0.370233,0.418995,0.598508,1.000000,0.318448,0.622370,0.576151,0.450621
cities_count,0.039566,0.005447,0.065593,0.134972,-0.015676,0.053557,0.006928,0.139881,0.030598,0.193332,...,0.313727,0.324487,0.293753,0.280206,0.343645,0.318448,1.000000,0.488213,0.474480,0.227382
tod_count,0.068528,0.005619,0.144315,0.305359,0.140583,0.083772,0.010976,0.235941,0.088077,0.275311,...,0.554980,0.552391,0.546109,0.601929,0.623580,0.622370,0.488213,1.000000,0.846702,0.328317
dow_count,0.062677,0.006576,0.125688,0.281851,0.154411,0.074022,0.006278,0.201953,0.061481,0.324484,...,0.659867,0.627360,0.642761,0.449244,0.545485,0.576151,0.474480,0.846702,1.000000,0.348378
Sports,0.064003,0.032543,0.067306,-0.076503,0.172253,0.261669,0.044209,0.074812,-0.010986,0.857666,...,0.277219,0.267891,0.245613,0.098776,0.499755,0.450621,0.227382,0.328317,0.348378,1.000000

In [42]:
train_data["Sports"] = train_data.Boxing + train_data.Hockey + train_data.FormulaE + train_data.Cricket + train_data.Football + train_data.Tennis + train_data.Kabaddi + train_data.IndiaVsSa + train_data["Table Tennis"] + train_data.Volleyball + train_data.Athletics + train_data.Swimming + train_data.Formula1 + train_data.Badminton + train_data.Sport

In [43]:
test_data["Sports"] = test_data.Boxing + test_data.Hockey + test_data.FormulaE + test_data.Cricket + test_data.Football + test_data.Tennis + test_data.Kabaddi + test_data.IndiaVsSa + test_data["Table Tennis"] + test_data.Volleyball + test_data.Athletics + test_data.Swimming + test_data.Formula1 + test_data.Badminton + test_data.Sport

In [44]:
tt = train_data[["Travel","Reality","Romance","LiveTV","Comedy","Teen","NA","Horror","Awards","Science","Thriller",
               "Wildlife","Kids","TalkShow","Drama","Action","Mythology","Documentary","Family","Crime","Sports",
                "1","2","3","4","5","6","7","title_sum","title_count","genres_count","cities_count","tod_count",
                "dow_count"]]

In [45]:
tt.head(2)

,Travel,Reality,Romance,LiveTV,Comedy,Teen,NA,Horror,Awards,Science,...,4,5,6,7,title_sum,title_count,genres_count,cities_count,tod_count,dow_count
0,0,1,0,0,0,0,0,0,0,0,...,1,1,1,1,87363,60,3,2,14,7
1,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,16356,70,2,3,16,7

In [46]:
tttest = test_data[["Travel","Reality","Romance","LiveTV","Comedy","Teen","NA","Horror","Awards","Science","Thriller",
               "Wildlife","Kids","TalkShow","Drama","Action","Mythology","Documentary","Family","Crime","Sports",
                "1","2","3","4","5","6","7","title_sum","title_count","genres_count","cities_count","tod_count",
                "dow_count"]]

In [78]:
s = tt.title_sum.sum()/len(tt)
s

21222

In [79]:
tt.title_sum = (tt.title_sum-s)/s

/home/manishsihag/anaconda2/lib/python2.7/site-packages/pandas/core/generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [80]:
s = tttest.title_sum.sum()/len(tttest)
s

23194

In [81]:
tttest.title_sum = (tttest.title_sum-s)/s

In [82]:
tt.describe()

,Travel,Reality,Romance,LiveTV,Comedy,Teen,NA,Horror,Awards,Science,...,4,5,6,7,title_sum,title_count,genres_count,cities_count,tod_count,dow_count
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.00000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.00000
mean,0.020740,0.292110,0.357035,0.141765,0.234040,0.010320,0.000060,0.032925,0.058055,0.008905,...,0.637100,0.611025,0.61869,0.613865,0.000039,11.802520,3.329420,1.912525,7.853135,4.21007
std,0.142513,0.454734,0.479126,0.348810,0.423398,0.101062,0.007746,0.178441,0.233848,0.093945,...,0.480838,0.487519,0.48571,0.486863,2.173682,16.245102,2.089513,1.229760,5.527403,2.23663
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,-1.000000,1.000000,1.000000,1.000000,1.000000,1.00000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,-0.927387,3.000000,2.000000,1.000000,3.000000,2.00000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.00000,1.000000,-0.682782,6.000000,3.000000,1.000000,7.000000,4.00000
75%,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.00000,1.000000,0.002698,14.000000,4.000000,2.000000,12.000000,7.00000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.00000,1.000000,93.427057,464.000000,22.000000,22.000000,24.000000,7.00000

In [83]:
tt.columns

Index([      u'Travel',      u'Reality',      u'Romance',       u'LiveTV',
             u'Comedy',         u'Teen',           u'NA',       u'Horror',
             u'Awards',      u'Science',     u'Thriller',     u'Wildlife',
               u'Kids',     u'TalkShow',        u'Drama',       u'Action',
          u'Mythology',  u'Documentary',       u'Family',        u'Crime',
             u'Sports',            u'1',            u'2',            u'3',
                  u'4',            u'5',            u'6',            u'7',
          u'title_sum',  u'title_count', u'genres_count', u'cities_count',
          u'tod_count',    u'dow_count'],
      dtype='object')

In [84]:
#train final model
rf_model = RandomForestClassifier(n_estimators=500,max_depth=12, max_features=10)
rf_model.fit(tt, target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=12, max_features=10, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=500, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [85]:
#make prediction
rf_pred = rf_model.predict_proba(tttest)

In [86]:
#make submission file and submit
columns = ['segment']
sub = pd.DataFrame(data=rf_pred[:,1], columns=columns)
sub['ID'] = test_id
sub = sub[['ID','segment']]
sub.to_csv("sub_hot_5.csv", index=False)

In [87]:
import xgboost as xgb
gbm = xgb.XGBClassifier(max_depth=5, n_estimators=300, learning_rate=0.04).fit(tt, target)
pred = gbm.predict_proba(tttest)

In [88]:
#make submission file and submit
columns = ['segment']
sub = pd.DataFrame(data=rf_pred[:,1], columns=columns)
sub['ID'] = test_id
sub = sub[['ID','segment']]
sub.to_csv("sub_xgboost_1.csv", index=False)

In [89]:
prd = 0.50*rf_pred+0.50*pred

In [90]:
#make submission file and submit
columns = ['segment']
sub = pd.DataFrame(data=rf_pred[:,1], columns=columns)
sub['ID'] = test_id
sub = sub[['ID','segment']]
sub.to_csv("sub_50rf50xgb.csv", index=False)

In [91]:
gbm = xgb.XGBClassifier(
    #learning_rate = 0.02,
    n_estimators= 2000,
    max_depth= 4,
    min_child_weight= 2,
    #gamma=1,
    gamma=0.9,                        
    subsample=0.8,
    colsample_bytree=0.8,
    objective= 'binary:logistic',
    nthread= -1,
    scale_pos_weight=1).fit(tt, target)
predictions = gbm.predict_proba(tttest)

In [103]:
#make submission file and submit
columns = ['segment']
sub = pd.DataFrame(data=predictions[:,1], columns=columns)
sub['ID'] = test_id
sub = sub[['ID','segment']]
sub.to_csv("gbm.csv", index=False)

In [104]:
gbm = xgb.XGBClassifier(
    learning_rate = 0.05,
    n_estimators= 300,
    max_depth= 4,
    min_child_weight= 2,
    gamma=1,
    #gamma=0.9,                        
    subsample=0.8,
    colsample_bytree=0.8,
    #objective= 'binary:logistic',
    nthread= -1,
    scale_pos_weight=1).fit(tt, target)
predictions_2 = gbm.predict_proba(tttest)

In [105]:
#make submission file and submit
columns = ['segment']
sub = pd.DataFrame(data=predictions_2[:,1], columns=columns)
sub['ID'] = test_id
sub = sub[['ID','segment']]
sub.to_csv("gbm_2.csv", index=False)

In [99]:
import lightgbm as lgb

In [114]:
ttdata=lgb.Dataset(tt,label=target)

#setting parameters for lightgbm
param = {'num_leaves':200, 'objective':'binary','max_depth':10,'learning_rate':.05,'max_bin':300}
param['metric'] = ['binary_logloss']

#Here we have set max_depth in xgb and LightGBM to 7 to have a fair comparison between the two.

#training our model using light gbm
num_round=100
lgbm=lgb.train(param,ttdata,num_round)

#predicting on test set
ypred=lgbm.predict(tttest)

In [115]:
#make submission file and submit
columns = ['segment']
sub = pd.DataFrame(data=ypred, columns=columns)
sub['ID'] = test_id
sub = sub[['ID','segment']]
sub.to_csv("lightgbm_2.csv", index=False)

In [116]:
gbm = xgb.XGBClassifier(
    learning_rate = 0.05,
    n_estimators= 250,
    max_depth= 7,
    min_child_weight= 2,
    #gamma=1,
    gamma=0.9,                        
    subsample=0.8,
    colsample_bytree=0.8,
    objective= 'binary:logistic',
    nthread= -1,
    scale_pos_weight=1).fit(tt, target)
predictions_3 = gbm.predict_proba(tttest)

In [117]:
#make submission file and submit
columns = ['segment']
sub = pd.DataFrame(data=predictions_3[:,1], columns=columns)
sub['ID'] = test_id
sub = sub[['ID','segment']]
sub.to_csv("gbm_3.csv", index=False)

In [118]:
gbm = xgb.XGBClassifier(
    learning_rate = 0.08,
    n_estimators= 500,
    max_depth= 3,
    min_child_weight= 2,
    gamma=1,
    #gamma=0.9,                        
    subsample=0.8,
    colsample_bytree=0.8,
    #objective= 'binary:logistic',
    nthread= -1,
    scale_pos_weight=1).fit(tt, target)
predictions_4 = gbm.predict_proba(tttest)

In [119]:
#make submission file and submit
columns = ['segment']
sub = pd.DataFrame(data=predictions_4[:,1], columns=columns)
sub['ID'] = test_id
sub = sub[['ID','segment']]
sub.to_csv("gbm_4.csv", index=False)

In [120]:
gbm = xgb.XGBClassifier(
    learning_rate = 0.1,
    n_estimators= 1000,
    max_depth= 4,
    min_child_weight= 2,
    gamma=1,
    #gamma=0.9,                        
    subsample=0.6,
    colsample_bytree=0.4,
    #objective= 'binary:logistic',
    nthread= -1,
    scale_pos_weight=1).fit(tt, target)
predictions_5 = gbm.predict_proba(tttest)

In [121]:
#make submission file and submit
columns = ['segment']
sub = pd.DataFrame(data=predictions_5[:,1], columns=columns)
sub['ID'] = test_id
sub = sub[['ID','segment']]
sub.to_csv("gbm_5.csv", index=False)

In [131]:
PRED = (predictions[:,1]+predictions_2[:,1]+predictions_3[:,1]+predictions_4[:,1]+predictions_5[:,1]+ypred)+1

In [133]:
#make submission file and submit
columns = ['segment']
sub = pd.DataFrame(data=PRED, columns=columns)
sub['ID'] = test_id
sub = sub[['ID','segment']]
sub.to_csv("PRED.csv", index=False)

In [52]:
train_data["Sports"] = train_data.Boxing + train_data.Hockey + train_data.Football + train_data.Tennis + train_data.Kabaddi + train_data["Table Tennis"] + train_data.Volleyball + train_data.Athletics + train_data.Swimming + train_data.Badminton

In [53]:
test_data["Sports"] = test_data.Boxing + test_data.Hockey + test_data.Football + test_data.Tennis + test_data.Kabaddi + test_data["Table Tennis"] + test_data.Volleyball + test_data.Athletics + test_data.Swimming + test_data.Badminton

In [54]:
train_data.columns

Index([      u'Travel',       u'Boxing',        u'Crime',      u'Romance',
             u'LiveTV',       u'Hockey',     u'FormulaE',       u'Comedy',
               u'Teen',      u'Cricket',    u'Mythology',           u'NA',
             u'Horror',     u'Football',       u'Awards',      u'Science',
             u'Tennis',     u'Thriller',      u'Kabaddi',     u'Wildlife',
               u'Kids',    u'IndiaVsSa',     u'TalkShow', u'Table Tennis',
         u'Volleyball',        u'Drama',       u'Action',    u'Athletics',
            u'Reality',  u'Documentary',     u'Swimming',     u'Formula1',
             u'Family',    u'Badminton',        u'Sport',            u'1',
                  u'3',            u'2',            u'5',            u'4',
                  u'7',            u'6',    u'title_sum',  u'title_count',
       u'genres_count', u'cities_count',    u'tod_count',    u'dow_count',
             u'Sports'],
      dtype='object')

In [55]:
train_data["History"] = train_data.Mythology+train_data.Awards+train_data.Science+train_data.Documentary
train_data["Child"] = train_data.Teen+train_data.Kids
train_data["Scary"] = train_data.Crime+train_data.Horror+train_data.Thriller+train_data.Action
train_data["Formula"] = train_data.Formula1 + train_data.FormulaE
train_data["Cric"] = train_data.Cricket+train_data.IndiaVsSa
train_data["Girls"] = train_data.Romance+train_data.Drama+train_data.Family

train_data["TravellingPerson"] = [0 for w in train_data.cities_count]
for i,w in enumerate(train_data.cities_count):
    if(w>2):
        train_data["TravellingPerson"][i] += 1

In [57]:
test_data["History"] = test_data.Mythology+test_data.Awards+test_data.Science+test_data.Documentary
test_data["Child"] = test_data.Teen+test_data.Kids
test_data["Scary"] = test_data.Crime+test_data.Horror+test_data.Thriller+test_data.Action
test_data["Formula"] = test_data.Formula1 + test_data.FormulaE
test_data["Cric"] = test_data.Cricket+test_data.IndiaVsSa
test_data["Girls"] = test_data.Romance+test_data.Drama+test_data.Family

test_data["TravellingPerson"] = [0 for w in test_data.cities_count]
for i,w in enumerate(test_data.cities_count):
    if(w>2):
        test_data["TravellingPerson"][i] += 1

In [58]:
tt = train_data

In [59]:
tt.columns

Index([          u'Travel',           u'Boxing',            u'Crime',
                u'Romance',           u'LiveTV',           u'Hockey',
               u'FormulaE',           u'Comedy',             u'Teen',
                u'Cricket',        u'Mythology',               u'NA',
                 u'Horror',         u'Football',           u'Awards',
                u'Science',           u'Tennis',         u'Thriller',
                u'Kabaddi',         u'Wildlife',             u'Kids',
              u'IndiaVsSa',         u'TalkShow',     u'Table Tennis',
             u'Volleyball',            u'Drama',           u'Action',
              u'Athletics',          u'Reality',      u'Documentary',
               u'Swimming',         u'Formula1',           u'Family',
              u'Badminton',            u'Sport',                u'1',
                      u'3',                u'2',                u'5',
                      u'4',                u'7',                u'6',
              u'title_sum',      u'title_count',     u'genres_count',
           u'cities_count',        u'tod_count',        u'dow_count',
                 u'Sports',          u'History',            u'Child',
                  u'Scary',          u'Formula',             u'Cric',
                  u'Girls', u'TravellingPerson'],
      dtype='object')

In [60]:
tt.drop(['Crime','Romance','FormulaE','Teen','Cricket','Mythology','Horror',
        'Awards','Science','Thriller','Kids','IndiaVsSa','Drama','Action',
        'Documentary','Formula1','Family'], inplace=True, axis=1)

In [61]:
tttest = test_data

In [62]:
tttest.columns

Index([          u'Travel',          u'Kabaddi',          u'Reality',
                u'Romance',           u'LiveTV',           u'Hockey',
               u'FormulaE',           u'Comedy',             u'Teen',
                u'Cricket',               u'NA',           u'Horror',
               u'Football',           u'Awards',          u'Science',
                 u'Tennis',         u'Thriller',           u'Boxing',
               u'Wildlife',             u'Kids',        u'IndiaVsSa',
               u'TalkShow',     u'Table Tennis',       u'Volleyball',
                  u'Drama',           u'Action',        u'Athletics',
              u'Mythology',      u'Documentary',         u'Swimming',
               u'Formula1',           u'Family',        u'Badminton',
                  u'Crime',            u'Sport',                u'1',
                      u'3',                u'2',                u'5',
                      u'4',                u'7',                u'6',
              u'title_sum',      u'title_count',     u'genres_count',
           u'cities_count',        u'tod_count',        u'dow_count',
                 u'Sports',          u'History',            u'Child',
                  u'Scary',          u'Formula',             u'Cric',
                  u'Girls', u'TravellingPerson'],
      dtype='object')

In [63]:
tttest.drop(['Crime','Romance','FormulaE','Teen','Cricket','Mythology','Horror',
        'Awards','Science','Thriller','Kids','IndiaVsSa','Drama','Action',
        'Documentary','Formula1','Family'], inplace=True, axis=1)

In [64]:
#train final model
rf_model = RandomForestClassifier(n_estimators=500,max_depth=12, max_features=10)
rf_model.fit(tt, target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=12, max_features=10, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=500, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [65]:
#make prediction
rf_pred = rf_model.predict_proba(tttest)

In [66]:
#make submission file and submit
columns = ['segment']
sub = pd.DataFrame(data=rf_pred[:,1], columns=columns)
sub['ID'] = test_id
sub = sub[['ID','segment']]
sub.to_csv("sub_hot_3.csv", index=False)

In [60]:
trn = tt
trn["segment"] = target
tst = tttest
tst["ID"] = test_id

In [61]:
trn.to_csv("train_data.csv",index = False)
tst.to_csv("test_data.csv",index = False)

In [46]:
tt.columns

Index([      u'Travel',      u'Reality',      u'Romance',       u'LiveTV',
             u'Comedy',         u'Teen',           u'NA',       u'Horror',
             u'Awards',      u'Science',     u'Thriller',     u'Wildlife',
               u'Kids',     u'TalkShow',        u'Drama',       u'Action',
          u'Mythology',  u'Documentary',       u'Family',        u'Crime',
             u'Sports',            u'1',            u'2',            u'3',
                  u'4',            u'5',            u'6',            u'7',
          u'title_sum',  u'title_count', u'genres_count', u'cities_count',
          u'tod_count',    u'dow_count'],
      dtype='object')

In [54]:
tt.describe()

,Travel,Reality,Romance,LiveTV,Comedy,Teen,NA,Horror,Awards,Science,...,4,5,6,7,title_sum,title_count,genres_count,cities_count,tod_count,dow_count
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.00000,200000.000000,2.000000e+05,200000.000000,200000.000000,200000.000000,200000.000000,200000.00000
mean,0.020740,0.292110,0.357035,0.141765,0.234040,0.010320,0.000060,0.032925,0.058055,0.008905,...,0.637100,0.611025,0.61869,0.613865,1.187439e-15,11.802520,3.329420,1.912525,7.853135,4.21007
std,0.142513,0.454734,0.479126,0.348810,0.423398,0.101062,0.007746,0.178441,0.233848,0.093945,...,0.480838,0.487519,0.48571,0.486863,2.173597e+00,16.245102,2.089513,1.229760,5.527403,2.23663
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,-1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.00000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,-9.273895e-01,3.000000,2.000000,1.000000,3.000000,2.00000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.00000,1.000000,-6.827945e-01,6.000000,3.000000,1.000000,7.000000,4.00000
75%,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.00000,1.000000,2.658375e-03,14.000000,4.000000,2.000000,12.000000,7.00000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.00000,1.000000,9.342336e+01,464.000000,22.000000,22.000000,24.000000,7.00000

In [52]:
mean = tt.title_sum.mean()

In [53]:
tt.title_sum = (tt.title_sum-mean)/mean

/home/manishsihag/anaconda2/lib/python2.7/site-packages/pandas/core/generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [55]:
mean = tttest.title_sum.mean()

In [56]:
tttest.title_sum = (tttest.title_sum-mean)/mean

In [57]:
import xgboost as xgb
gbm = xgb.XGBClassifier(max_depth=3, n_estimators=350, learning_rate=0.03).fit(tt, target)
pred = gbm.predict_proba(tttest)

In [58]:
#make submission file and submit
columns = ['segment']
sub = pd.DataFrame(data=rf_pred[:,1], columns=columns)
sub['ID'] = test_id
sub = sub[['ID','segment']]
sub.to_csv("sub_xgboost.csv", index=False)

In [69]:
prd = 0.80*rf_pred+0.20*pred

In [70]:
#make submission file and submit
columns = ['segment']
sub = pd.DataFrame(data=rf_pred[:,1], columns=columns)
sub['ID'] = test_id
sub = sub[['ID','segment']]
sub.to_csv("sub_80rf20xgb.csv", index=False)